body {
  background-color: #191716;
  /* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased; */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}